* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-wrap: break-word;
}
body {
	background: #dbdbdb;
    font-family: sans-serif;
}
.content {
	max-width: 1200px;
	width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #22212188;
}
.author{
    text-align: center;
    padding: 15px;
    color: #222121;
}
.content header {
	margin: 1em 0;
}
.content header .user {
	width: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.content header .user .photo {
	background: linear-gradient(45deg, #313030, #222121);
	width: 10em;
	height: 10em;
	border-radius: 30px;
}
.content header .user .photo img {
	width: 100%;
}

.content header .user .name_location {
	text-align: center;
	color: #313030;
	margin: 1em 0;
}
.content header .user .name_location .name {
	font-size: 2em;
	font-weight: bold;
}
.content header .user .name_location .location {
	font-weight: lighter;
}
.content header .user .info {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}

.content header .user .info .info_box {
	width: 8em;
	padding: 1em;
	text-align: center;
	background: #d1d1d1;
	border-radius: 15px;
}

/* ------------------------------ MAIN ------------------------------ */
.content main,
main .pictures {
	width: 100%;
	height: 100%;
}

main .pictures {
	display: flex;
	flex-direction: column;
}

main .pictures .pict {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	border: 1em solid #dbdbdb;
}

main .pictures .arriba {
	height: 33%;
	display: flex;
}

main .pictures .arriba .picture30 {
	width: 30%;
}
main .pictures .arriba .picture70 {
	width: 70%;
}
main .pictures .centro {
	display: flex;
	flex-direction: row;
}
main .pictures .centro .izquierda .picture30s {
	display: flex;
}

@media only screen and (max-width: 750px) {
    .content header .user .info {
        width: 80%;
    }

	.content header .user .photo {
		width: 5em;
		height: 5em;
	}
	main .pictures .pict {
		border: 0.5em solid #dbdbdb;
	}
}

@media only screen and (max-width: 500px) {
    .content header .user .info {
        width: 100%;
    }
	main .pictures .pict {
		border: 0.2em solid #dbdbdb;
	}
}
